.heroSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
    margin-bottom: 15%;
    gap: 5%;
    align-items: center;
}

.placeholder {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.rightContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    font-weight: 300;
}

.text {
    width: 90%;
    text-align: justify;
}

.button {
    background-color: #6f5cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 16px 32px;
    width: 50%;
}

.button:hover {
    background-color: #5c4bff;
}

@media (max-width: 768px) {
    .heroSection {
      flex-direction: column;
      margin-top: 0;
    }
  
    .textContainer {
      padding: 10px;
      align-items: center;
    }
  }