@font-face {
    font-family: "Green Mountain 3";
    src: url("../assets/fonts/greenm03.eot?") format("eot"), url("../assets/fonts/greenm03.woff") format("woff"), url("../assets/fonts/greenm03.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}