html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #141D22;
    font-family: Arial, Helvetica, sans-serif;

}

.title-box {
    position: absolute;
    top: 0px;
    left: 25px;
    height: 50px;
    width: 350px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: #141D22;
    display: none
}

.info-box-corner {
    position: absolute;
    left: 375px;
    top: 0px;
    height: 50px;
    width: 150px;
    background-color: #141D22;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%, 0% 100%);
    display: none
}

.active-indicator {
    height: 13px;
    width: 13px;
    border-radius: 100%;
    background-color: rgb(22, 201, 22);
    box-shadow: 0px 0px 20px 5px rgb(22, 201, 22);
    animation: blink-animation 1s infinite alternate;
    display: none
}


@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.simulation-title {
    font-size: 13px;
    font-weight: 600;
}


.time-display {
    font-size: 13px;
}

main {
    display: flex;
    flex-direction: row;
    width: calc(100% - 50x);
    height: calc(100% - 50px);
    gap: 25px;
    padding: 25px;
    flex-flow: row wrap;
    min-width: 0;
    flex-shrink: 1;
}

.col {
    flex: 4;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.simulation-infos {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.00);
    border: 1px solid #4D9DD2;
}

.info-header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
}

.info-icon {
    width: 45px;
}

.info-title {
    font-size: 35px;
    color: white;
    font-family: "Green Mountain 3"
}


.info-card-list {
    height: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.info-card {
    border-radius: 5px;
    height: auto;
    margin: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: rgb(228, 36, 48, 0.2);
}

.info-card-inner {
    margin: 10px;
    border: 1px solid rgb(228, 36, 48);
}

.info-card-banner {
    width: 100%;
}

.info-card-title {
    margin: 0px;
    margin-top: -2.25em;
    font-size: 1.5em;
    font-weight: 600;
    height: 55px;
    color: white;
    text-align: center;
}

.info-card-text {
    font-size: 1em;
    line-height: 1.125em;
    font-weight: 500;
    color: white;
    margin: 15px;
    text-align: justify;
}

#simulation-container {
    flex: 4;
    border: 1px solid #4D9DD2;
    position: relative;
}

canvas {
    border-radius: 3px;
}

.simulation-stats {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 25px;
    min-width: 0;
}


.chart-container {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.0);
    border: 1px solid #4D9DD2
}

.organism-box {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #4D9DD2;
    padding: 10px;
    margin: 10px;
    background-color: #141D22;
    width: fit-content;
    z-index: 10;
}


.organism-title {
    margin-top: 0px;
    color: white;
}

.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-label {
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: left;
    width: 30%;
}

.info-value {
    font-size: 14px;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: left;
    width: 70%;
}

.slider-container {
    display: flex;
    align-items: center;
}

.gene-min, .gene-max, .gene-value {
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 5px;
}

.gene-slider {
    flex: 1;
    margin: 0 10px;
}